/*************************
* 页面样式
**********************/
body{
	font-size: 1.2rem;/*12px*/
	line-height: 1.5;
	background-color:#f7f7f7;/*灰色*/
}
a{
	color: #666;
	text-decoration: none;
}
a:hover, a:active{
	color: #0ae;
	text-decoration: underline;/*下划线*/
}

/*网站头部*/
header{
	width: 100%;
}
header .top{
	line-height: 3rem;/*这里建议设置px，因为谷歌中文版在这会默认1rem=12px*/
	padding: 0 1.5rem;
	color: #fff;
	background: #555;
	border-bottom: 1px #ecc000 solid;
}
header .top .tel{
	float: left;
}
header .top ul{
	text-align: right;
}
header .top ul li{
	display: inline-block;/*在inline-block之前，实现菜单基本都是用float属性来实现
	，float属性会造成高度塌陷，需要清除浮动等问题，使用inline-block实现就
	不需要在意这样的问题，
	block元素可以设置width和height的特性，又保持了inline元素不换行的特性*/
}
header .top ul li+li{/*除了第一个，li+li会让导航有边线，左右没有，中间有*/
	border-left:1px solid #999;
	margin-left:-3px;
}
header .top ul li a{
	display: inline-block;/*为了让他变块状，不然pading marging不起作用*/
	padding: 0 1.5rem;
	color: #fff;
}
/*媒体查询*/

@media only screen and  (max-width: 50em) {/*浏览器fontsize设置  不是1rem=10px  而是1rem=16px*/
	header .top ul li a{
		padding: 0.1rem;
	}
}
@media only screen and (min-width: 30.0625em) and (max-width: 50em) {

}

@media only screen and (max-width: 30em) {
    header .top .tel,
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4) {
        display: none;
    }
}
header .main .brand{/*商标*/
	float: left;
	padding: 1rem 1.5rem;
}
header .main ul{
	text-align: right;
}
header .main ul li{
	display: inline-block;
	border-left:1px solid #f0ede9;
}
header .main ul li a{
	display: inline-block;
	padding: 0 3rem;
	line-height: 5.5rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: #7c7a65;
	text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:hover,
header .main ul li a:hover{
	color: #ffb300;
	background-color: #f8f6f1;
}
/*主要导航*/
/*============================================*/
@media only screen and (max-width: 50em) {

    header .main .brand {
        float: none;
        display: block;
        padding: 0;
        margin: 1.5rem auto 0.5rem;
        text-align: center;
    }

    header .main ul {
        text-align: center;
    }

    header .main ul li {
        border: none;
    }

    header .main ul li a {
        padding: 0 1.5rem;
    }
}

@media only screen and (max-width: 30em) {

    header .main ul li {
        line-height: 3rem;
    }

    header .main ul li:first-child {
        display: none;
    }

    header .main ul li a {
        font-weight: normal;
        padding: 0 0.5rem;
    }
}

/*网站主要内容*/
.container{
	width: 100%;
}
/*交易信息*/
.transaction{/*分成俩块，贯穿背景*/
	width: 100%;
	background-color: #7c7365;
}
.trans-content{
	max-width: 90%;
	margin: 0 auto;
	font-size: 1.5rem;
}
.trans-data{
	float: left;
	padding: 1rem;
	text-align: left;
}
.trans-data span{
	display: inline-block;
	line-height: 3rem;
	color: #fff;
}.trans-data span.trans-money {
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);/*透明*/
    box-shadow: 1px 2px 1px #333 inset;/*内阴影，外outset* 水平垂直模糊尺寸颜色*/
}

.trans-report {
    text-align: right;
}

.trans-report a {
    display: inline-block;/*block元素可以设置width和height的特性，又保持了inline元素不换行的特性。*/
    padding: 1rem;
    line-height: 3rem;
    color: #fff;
}
@media only screen and (max-width: 50em) {

    .trans-data {
        padding: 1rem 0.5rem;
    }

    .trans-data span {
        font-size: 1.2rem;
    }

    .trans-data span.trans-money {
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        letter-spacing: inherit;
        box-shadow: none;
        background: transparent;
    }

    .trans-report a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 30em) {

    .transaction {
        padding: 0.5rem 0;
    }

    .trans-data, .trans-report {
        float: none;/*小屏幕直接浮动清除，一行变变三行*/
        text-align: center;
    }

    .trans-data, .trans-report a {
        padding: 0;
    }
}



/*滚动广告*/
/*=====================*/
.ad{
	/*display: none;*/
}

/*平台特点*/
.feature{
	width: 90%;
	margin: 2rem auto;
	font-size: 0;/*去掉间隙*/
}

.feature .item{
	display: inline-block;
	width: calc(33.3333333333% - 3rem);/*css计算方法 动态得到值*/
	padding: 1rem;/*1 1 1rem*/
	font-size: 1.4rem;
	background-color: #fff;
	box-shadow: 0 0 4px #ccc;
}
.feature .item+.item{
	margin-left:1.5rem ;/*2个空隙  每个1.5rem  2个刚好3rem，有3块，3/3=1rem*/
}
.feature .item h3{
	display: inline-block;
	width: 40%;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-size: 3.3rem;
	text-align: center;
	color: #ff9900;
}
.feature .item p{
	display: inline-block;
	width: 55%;
	margin: 0;
	padding: 0;
	color: #999;
}
@media only screen and (min-width: 30.0625em) and (max-width: 50em) {

    .feature .item h3,
    .feature .item p {
        display: block;
        width: 100%;
        font-size: 2.6rem;
        text-align: center;
    }

    .feature .item p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 30em) {

    .feature {
        width: 96%;
        margin: 1rem auto;
    }

    .feature .item {
        display: block;
        width: auto;
    }

    .feature .item + .item {
        margin: 1rem 0 0;
    }
}


/*最新公告*/
.notice{
	width: 90%;
	margin: 2rem auto;
	font-size: 1.4rem;
	line-height: 3rem;
	background-color: #fff;
	box-shadow: 0 0 4px #ccc;
}

.notice a{
	float: left;
	display: inline-block;
	width: 70%;
	margin-left:2rem;
	text-decoration: none;
}
.notice a:first-child{
	text-overflow: ellipsis;/*隐藏滚动条*/
	overflow: hidden;/*截断文字*/
	white-space: nowrap;/*段落中的文本不进行换行*/
}
.notice a:first-child:before{/*伪元素添加内容*/
	content: '最新公告:\00a0\00a0';/*不换行的空格字符*/
	color: #aaa;
}
.notice a span{
	color: #999;
	font-size: 1.2rem;
	margin-right: 1rem;
}
.notice a.more{
	float: right;
	width: auto;
	margin-right: 2rem;
	color: #ff9900;	
}

@media only screen and (max-width: 30em) {

    .notice {
        width: 96%;
        margin: 1rem auto;
        font-size: 1.2rem;
    }

    .notice a {
        margin-left: 1rem;
    }

    .notice a span {
        display: none;
    }
}
/*产品列表*/
.product{
	width: 90%;
	margin: 2rem auto;
	font-size: 1.4rem;
	background-color: #f5f9900;
	box-shadow: 0 0 4px #ccc;
}
/*产品表题*/
.product h2{
	float: left;
	width: 20%;
	margin-top: 3rem;
	text-align: center;
	font-size:2.4rem ;
	font-weight: normal;
	color: #635c51;
}
/*表题突出的文字*/
.product h2 em{
	display: block;
	margin-top: 1rem;
	font-size: 1.6rem;
}
.product h2 em:first-child{
	margin-top: 4rem;
}
/*表题内容*/
.product .product-content{
	float: right;
	width: 79.5%;
	border-left: 1px solid #eee;
	background-color: #fff;
}
.product .product-content .item{
	width: 100%;
}
.product .product-content .item+ .item{
	border-top: 1px solid #eee;
}
.product .product-content .item h3{
	float: left;
	width: 30%;
	margin: 1.5rem 0;
	font-size: 1.4rem;
	font-weight: normal;
	text-align: center;
}
.product .product-content .item h3 em{
	margin-right: 0.5rem;
	font-size: 3.6rem;
	font-style: normal;
	color: #8b999d;
}
.product .product-content .item h3 i{
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	color: #999;
}
.product .product-content .item .info{
	float: left;
	width: 48%;
	padding: 1rem;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	font-size: 14px;
}
/*2块内容宽度*/
.product .product-content .item .info p{
	float: left;
	display: inline-block;
	text-align: center;
	width: 56%;
}
.product .product-content .item .info p:last-child{
	width: 40%;
}
.product .product-content .item .info p span {
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}

.product .product-content .item .info p span i {
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .buy {
    float: left;
    width: calc(22% - 4.4rem);/*整个百分比截取item info的百分比截取item标题百分比在截取本身padding设置*/
    padding: 1rem;
}

.product .product-content .item .buy a {
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
}

.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active {
    background-color: #ffc468;
}

.product .product-content .item .buy a.disabled {/*cursor:pointer*/
    background-color: #ccc !important;
    cursor: not-allowed;/*是一个红色的圈加一个斜杠表示禁止的意思*/
}
@media only screen and (max-width: 50em) {

    .product h2 {
        float: none;
        width: 100%;
        margin-top: 2rem;
        font-size: 2.2rem;
    }

    .product h2 em:first-child {
        margin-top: 0;
    }

    .product h2 em {
        display: inline;
        font-size: 1.2rem;
    }

    .product .product-content {
        float: none;
        width: 100%;
    }

    .product .product-content .item h3 {
        margin-bottom: 0
    }

    .product .product-content .item h3 em {
        font-size: 2.4rem;
    }

    .product .product-content .item .info {
        padding: 1rem 1rem 0;
        font-size: 1.2rem;
    }

    .product .product-content .item .info p span {
        font-size: 2rem;
    }

    .product .product-content .item .buy a {
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 30em) {

    .product {
        width: 96%;
    }

    .product h2 em:first-child:before {/*清除浮动*/
        content: " ";
        display: table;
    }

    .product .product-content .item h3 em {
        font-size: 2rem;
        margin-right: 0;
    }

    .product .product-content .item .info {
        float: right;
        width: 70%;
        padding: 1rem 0;
        border: none;
    }

    .product .product-content .item .info p span {
        font-size: 1.8rem;
    }

    .product .product-content .item .buy {
        clear: both;
        float: none;
        width: 100%;
        padding: 1rem 0 2rem;
    }

    .product .product-content .item .buy a {
        margin-top: 0;
        max-width: 26rem;
    }
}
/*底部导航*/
.footer{
	padding: 3rem 0;
	background-color: #fff;
	border-top:2px solid #eee;
}
.footer-conten{
	width: 90%;
	margin: 0 auto;
}
.footer-conten .brand{
	float: left;
	display: block;
	/*灰色滤镜*/
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 20%;
	height: 35px;
	background: url("../img/logo@1x.png") no-repeat left;
	background-size:150px 35px;
}
.footer-conten ul{
	float: left;
	width: 15%;
}
.footer-conten ul li{
	font-size: 1.4rem;
	line-height: 2.4rem;
}
.footer-conten ul li .title{
	font-size: 1.6rem;
	line-height: 3rem;
}

@media only screen and (max-width: 50em) {

    .footer-content .brand {
        display: none;
    }

    .footer-content ul {
        width: 20%;
    }

    .footer-content ul li {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .footer-content ul li .title {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 30em) {
    .footer-content {
        width: 98%;
    }

    .footer-content ul li .title {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

/*底部*/
footer{
width: 100%;
padding: 3rem 0 5rem;
background-color: #ededed;	
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block
}

footer ul li .icon{
	display: inline-block; 
	text-indent: -999rem;/*文字缩进*/
	margin-right: 1.5rem;
	background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
	background-size:466px 477px;
	overflow: hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -368px -50px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -108px -102px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -97px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -400px -200px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -53px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -342px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
   /* margin-right: 0;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 30px;*/
    background-position: -67px -49px;
}

footer p {
    text-align: center;
    color: #999;
}






/*==================
基本默认值
================ */

html{
	font-size: 62.5%;
	color: #222;
}

/*******
 * 选中文字的背景颜色
 */
::selection{
	background-color: #b3d4fc;
	text-shadow: none;
}
/*****无序列表****/
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
/*========
 工具样式
=========
 */

/**居中**/
.center-block{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.pull-right{
	float: right !important;
	}
.pull-left{
	float: left !important;
}

.text-right{
	text-align: right !important;
}
.text-left{
	text-align: right !important;
}

.hide{
	display: none !important;
}
.show{
	display: block !important;
}
.invisible{
	visibility: hidden;
}
.text-hide{
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
/**清除浮动**/
/*==========================================================================*/
.clearfix:before,
.clearfix:after{
	content: "";
	display:table ;
}
.clearfix:after{
	clear: both;
}

/*=========
 浏览器更新提示
=========== * */
.browserupgrade{
	margin: 0;
	padding: 1rem;
	background: #ccc;
}
